#head{
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
  
  }

  .barra{
    min-height: 40px !important; 
    height: 40px !important;
  }

  .boton{
      align-content: center;
  }

  .font{
      font-size: 14px;
  } 

  .font2{
      font-size: 13px;
  } 
  
  .title{
      font-size: 15px;
  }

  .fecha{
    width: 50%;
  }

  .radio{
    margin-top: 15px;
  }

  .font2{
    background-color: #eb584d;
  }