<div fxLayout="column" fxFlexFill>
	<ngu-carousel fxLayout="column" fxFlexFill  #myCarousel [inputs]="carouselConfig" [dataSource]="[first, second, third, fourth]">
		<div  *nguCarouselDef="let item;" class="item">
			<div class="tile">
				<ng-container *ngTemplateOutlet="item"></ng-container>
			</div>
		</div>
	
		<ng-template #first>
			<picture>
				<source media="(min-width: 900px)" srcset="/assets/img/wall1.png" (click)="test2()">
				<source media="(min-width: 480px)" srcset="/assets/img/wall3.png" (click)="test2()">
				<img src="/assets/img/bividi.png" alt="IfItDoesntMatchAnyMedia" (click)="test2()">
			</picture>
		</ng-template>
	
		<ng-template #second>
			<img src="/assets/img/wall2.jpg" alt="Juegos vestir" fxFlex.sm="calc(20%-25px)" >
		</ng-template>
	
		<ng-template #third>
			<img src="/assets/img/wall6.jpg" alt="Juegos vestir" fxFlex.sm="calc(20%-25px)"  >
		</ng-template>

		<ng-template #fourth>
			<img src="/assets/img/wall7.jpg" alt="Juegos vestir" fxFlex.sm="calc(20%-25px)" >
		</ng-template>
	
		<button NguCarouselNext class="rightRs">></button>
		<button NguCarouselPrev class="leftRs"><</button>
		<ul  class="myPoint" NguCarouselPoint>
			<li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
		</ul>
</ngu-carousel>
</div>

