<div fxLayout="column" >
	<ngu-carousel class="contenido" fxLayout="column"  fxFlexFill #myCarousel [inputs]="carouselConfig" [dataSource]="[first, second, third, fourth]">
		<div  *nguCarouselDef="let item;" class="item">
			<div class="tile">
				<ng-container *ngTemplateOutlet="item"></ng-container>
			</div>
		</div>
	
		<ng-template #first>
			
			
			<img src="/ar-kids-pwa/assets/img/banner_Hi.jpg" alt="Juegos vestir"  (click)="higiene()" >
		</ng-template>
	
		<ng-template #second>
			<img src="/ar-kids-pwa/assets/img/banner_V.jpg" alt="Juegos vestir"  (click)="vestir()" >
		</ng-template>
	
		<ng-template #third>
			<img src="/ar-kids-pwa/assets/img/banner_C.jpg" alt="Juegos vestir"  (click)="cocina()" >
		</ng-template>

		<ng-template #fourth>
			<img src="/ar-kids-pwa/assets/img/banner_Ho.jpg" alt="Juegos vestir" (click)="hogar()" >
		</ng-template>
	
		<button NguCarouselNext class="rightRs">></button>
		<button NguCarouselPrev class="leftRs"><</button>
		<ul  class="myPoint" NguCarouselPoint>
			<li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
		</ul>
</ngu-carousel>
</div>
<!-- 
<picture>
	<source class="embebido" media="(min-width: 900px)" srcset="/ar-kids-pwa/assets/img/banner_Hi2.jpg" (click)="higiene()">
	<!-- <source media="(min-width: 480px)" srcset="/ar-kids-pwa/assets/img/banner-hh.jpg" (click)="higiene()">
	<img src="/ar-kids-pwa/assets/img/banner-hh.jpg" alt="IfItDoesntMatchAnyMedia" (click)="higiene()"> --> 
