<a-scene embedded arjs='trackingMethod: best; sourceType: webcam; debugUIEnabled: false;' vr-mode-ui="enabled: false" gesture-detector>
    <a-assets>
         <audio id="sound" src="/ar-kids-pwa/assets/minecraft/2 - Historias X Cambiar.mp3" response-type="arraybuffer"></audio>
         <!-- <audio id="sound" src="/assets/minecraft/2 - Historias X Cambiar.mp3" preload="auto"></audio> -->
     </a-assets>
     <a-marker preset="hiro">
      
            <a-entity id="myBtn" gltf-model="/assets/nuevo/frigo.glb"  position='0 0 0' scale=".01 .01 .01" crossOrigin="anonymous"  sound="src: #sound" autoplay="false" animation-mixer soundhandler gesture-handler>
            <!-- <a-entity id="myBtn" gltf-model="/assets/minecraft/scene.gltf" position='0 0 -2' scale=".2 .2 .2" crossOrigin="anonymous" animation-mixer soundhandler> -->
            </a-entity>
            <!-- <a-entity sound="src: #sound" autoplay="false"></a-entity> -->
            
     </a-marker>
     <a-entity camera></a-entity>
</a-scene>
