<a-scene
arjs="trackingMethod: best; sourceType: webcam; debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 3x3; videoTexture: true;"
vr-mode-ui="enabled: false"
gesture-detector
renderer="colorManagement: true; logarithmicDepthBuffer: true;"
    >

    <a-entity  raycaster = "objects: .clickable"  cursor="fuse: false; rayOrigin: mouse" > </a-entity > 

          <a-entity
            gltf-model="url(../../assets/3d/frutas/fresa.glb)"
            scale="1 1 1"
            position="0 0 0"
            look-at="[gps-camera]"
            [attr.gps-entity-place]="positions"
            
          ></a-entity>
          
          <a-entity

            gltf-model="url(../../assets/3d/plato/lechuga.glb)"
            scale="1 1 1"
            position="2 1 0"
            look-at="[gps-camera]"
            [attr.gps-entity-place]="positions"
            clickhandler
            class="clickable"
          ></a-entity>

          <a-entity

          gltf-model="url(../../assets/3d/plato/aguacate.glb)"
          scale="1 1 1"
          position="6 2 0"
          look-at="[gps-camera]"
          [attr.gps-entity-place]="positions"
          clickhandler
          class="clickable"
        ></a-entity>

        
      <a-camera gps-camera rotation-reader> </a-camera>

    

    </a-scene>
