
<div  style='position: fixed; top: 10px; width:100%; text-align: center; z-index: 1;'>
    <button [disabled]="started"
    (click)="start()">
        HABLAR...
    </button>
</div>

<div  style='position: fixed; top: 40px; width:100%; text-align: center; z-index: 1;'>
    <button [disabled]="nextCtrl"
    (click)="siguiente()">
        SIGUENTE
    </button>
</div>

<a-scene 

  arjs="trackingMethod: best; sourceType: webcam; debugUIEnabled: false; detectionMode: mono_and_matrix; matrixCodeType: 3x3;"
  vr-mode-ui="enabled: false"
  renderer="colorManagement: true; logarithmicDepthBuffer: true;"
  gesture-detector
   
>

  <a-marker preset="kanji"> 
    <a-entity
      id="myBtn"
      crossorigin="anonymous"
      [attr.gltf-model]="rutaObj"
      position="0 0 0"
      [attr.scale]="escalaObj"
      animation-mixer
      gesture-handler
      [attr.sound]="rutaAudioObj" 
      soundhandler

     
    ></a-entity>
  </a-marker>
  
  <a-marker preset="hiro"> 
    <a-entity
      id="myBtn"
      crossorigin="anonymous"
      [attr.gltf-model]="rutaPersonaje"
      position="0 0 0"
      scale="1 1 1"
      animation-mixer
     
    ></a-entity>
  </a-marker>
  
  <a-entity  camera></a-entity>
</a-scene>
<!-- <div style='position: fixed; top: 40px; width:100%; text-align: center; z-index: 1;'>
  <button (click)="listen()">
      CERRAR...
  </button>
</div>
<iframe *ngIf="okey" src="/assets/ar.html" class="responsive-iframe"  frameborder="0"></iframe> -->
