<div fxLayout="column wrap"
fxLayoutAlign="space-around center"
fxLayoutGap="10px"
fxFlexFill>
<mat-horizontal-stepper #stepper >
    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{titulo1}}</ng-template>
        
        <div>
          <p>{{instruccion1}}</p>
          <button mat-button matStepperNext>SIGUIENTE</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{titulo2}}</ng-template>
        <div>
          <p>{{instruccion2}}</p>
          <button mat-button matStepperPrevious>ATRÁS</button>
          <button mat-button matStepperNext>SIGUIENTE</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{titulo3}}</ng-template>
      <p>{{instruccion3}}</p>
      <div>
        <button mat-button matStepperPrevious>ATRÁS</button>
        <button mat-button (click)="jugar()">JUGAR</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  
</div>


