<mat-grid-list cols="2" rowHeight="{{ h }}">
  <mat-grid-tile class="fondo1">
    <a href="https://paloalto.com.ec" class="picto">
      <div
        class="example-ripple-container mat-elevation-z4 multiline"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >
        PREGUNTA2
      </div>
    </a> </mat-grid-tile
  ><mat-grid-tile class="fondo2">
    <a href="https://paloalto.com.ec" class="picto2">
      <div
        class="example-ripple-container mat-elevation-z4 multiline"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >AR-BOX</div>
      </a
    > </mat-grid-tile
  ><mat-grid-tile class="fondo2">
    <a href="https://paloalto.com.ec" class="picto2">
      <div
        class="example-ripple-container mat-elevation-z4 multiline"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >
        CLASIFÍCALO
      </div>
    </a> </mat-grid-tile
  ><mat-grid-tile class="fondo1">
    <a href="https://paloalto.com.ec" class="picto">
      <div
        class="example-ripple-container mat-elevation-z4 multiline"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >
        PICTOGRAM*
      </div>
    </a>
  </mat-grid-tile>
</mat-grid-list>
