<mat-grid-list cols="2" rowHeight="{{ h }}">
  <mat-grid-tile class="fondo1">
    <a href="https://firebasestorage.googleapis.com/v0/b/arkids-da65c.appspot.com/o/pregunta2.pdf?alt=media&token=628ba8c7-a37a-4238-ae97-1aedd17c4572" download class="picto">
      <div
        class="example-ripple-container mat-elevation-z4 multiline"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >
        PREGUNTA2
      </div>
    </a> </mat-grid-tile
  ><mat-grid-tile class="fondo2">
    <a href="https://firebasestorage.googleapis.com/v0/b/arkids-da65c.appspot.com/o/ar-box.pdf?alt=media&token=545c2235-568b-4e58-9af9-ec2ad9a0e1e6" download class="picto2">
      <div
        class="example-ripple-container mat-elevation-z4 multiline"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >AR-BOX</div>
      </a
    > </mat-grid-tile
  ><mat-grid-tile class="fondo2">
    <a href="https://firebasestorage.googleapis.com/v0/b/arkids-da65c.appspot.com/o/clasificalo.pdf?alt=media&token=4b5ab313-7103-4412-9ace-8ef7aa87c5b1" class="picto2">
      <div
        class="example-ripple-container mat-elevation-z4 multiline"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >
        CLASIFÍCALO
      </div>
    </a> </mat-grid-tile
  ><mat-grid-tile class="fondo1">
    <a href="https://firebasestorage.googleapis.com/v0/b/arkids-da65c.appspot.com/o/pictogram_sonigram.pdf?alt=media&token=19c21bd9-2310-4585-99e0-3bb2feaa3e4f" download class="picto">
      <div
        class="example-ripple-container mat-elevation-z4 multiline"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >
        PICTOGRAM*
      </div>
    </a>
  </mat-grid-tile>
</mat-grid-list>

