<mat-grid-list cols="2" rowHeight="{{ h }}">
  <mat-grid-tile class="fondo1">
    <a href="https://docs.google.com/uc?export=download&id=1D1aeRX4t7e3qlTWhJK5uwSkgWL9mm04l" class="picto">
      <div
        class="example-ripple-container mat-elevation-z4 multiline"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >
        PREGUNTA2
      </div>
    </a> </mat-grid-tile
  ><mat-grid-tile class="fondo2">
    <a href="https://docs.google.com/uc?export=download&id=17RUrYRVm4EbyDi00MI6l67PUmN5qUu5n" download class="picto2">
      <div
        class="example-ripple-container mat-elevation-z4 multiline"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >AR-BOX</div>
      </a
    > </mat-grid-tile
  ><mat-grid-tile class="fondo2">
    <a href="https://docs.google.com/uc?export=download&id=1xR9ma129e-yPzQr0KdR3GE264VRP2VS8" class="picto2">
      <div
        class="example-ripple-container mat-elevation-z4 multiline"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >
        CLASIFÍCALO
      </div>
    </a> </mat-grid-tile
  ><mat-grid-tile class="fondo1">
    <a href="https://docs.google.com/uc?export=download&id=1jtFGqFggGiiUK_KY57TsD3yJTO5sp26U" class="picto">
      <div
        class="example-ripple-container mat-elevation-z4 multiline"
        matRipple
        [matRippleCentered]="centered"
        [matRippleDisabled]="disabled"
        [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius"
        [matRippleColor]="color"
      >
        PICTOGRAM*
      </div>
    </a>
  </mat-grid-tile>
</mat-grid-list>
